<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

    <listeners>
        <listener class-name="api.Utilities.ExtentReportManager"/>
        <listener class-name="listeners.Listener"/>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>

    <test name="Test">
        <classes>
            <class name="api.Test.Contacts_CRUD"/>
        </classes>
    </test>

</suite>